Package: __PACKAGE__
Version: __VERSION__
Section: science
Priority: optional
Architecture: all
Depends: debconf (>= 0.2.26), curl, sudo, libpq-dev, software-properties-common, openjdk-11-jre-headless, apache2, php, php-common, libapache2-mod-php, php-curl, r-base-core, r-cran-lattice, r-cran-xml, libcurl4-openssl-dev, libssl-dev, libxml2-dev, r-cran-tidyverse, python3, python3-pandas, python3-numpy, python3-requests, python3-sqlalchemy, python3-psycopg2, python3-postgresql, python3-zipp, python3-plotly, python3-unicodecsv, python3-gunicorn
Recommends: postgresql-12
Maintainer: AKTIN IT <it-support@aktin.org>
Description: I2B2 Installation für das AKTIN Datawarehouse in Notaufnahmen

